.form{
    border: lightseagreen 2px solid;
    border-radius: 4px;
    width: 30%;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 35%;
}
.label{
    width: 150px;
    background: aqua;
    border: rgba(0, 72, 255, 0.46) 2px solid;
    display: inline-block;
    text-align: center;
}
.input{
    margin-left: 10px;
    border: #009dff 2px solid;
}
.BT_Login{
    background: aqua;
    border-radius: 4px;
    margin-bottom: 10px;
    border: rgba(0, 72, 255, 0.46) 2px solid;
}
.login{
    padding: 10px;
}
.date{
    background: aliceblue;
    width: 350px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 12%;
}