.form {
    width: 550px;
    height: 470px;
    border: 2px solid #527ea5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 5px;
}

.label {
    width: 120px;
    height: 35px;
    margin: 5px;
    padding: 10px;
    background-color: #70ad47;
    color: #fff;
    box-sizing: border-box;
    display: block;
    border: 2px solid #4d8185;
    font-family: Century, serif;
}

.submit-btn {
    background-color: #70ad47;
    width: 125px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid #527ea5;
    border-radius: 8px;
    color: white;
    font-family: Century, serif;
    font-size: 14px;
}

.Department {
    width: 145px;
    height: 35px;
    margin: 5px 12px;
    border: 2px solid #5b85aa;
}

.input {
    width: 300px;
    height: 35px;
    margin: 5px 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 2px solid #5b85aa;
    font-family: 'Century', serif;
}

.address{
    width: 300px;
    height: 60px;
    margin: 5px 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 2px solid #5b85aa;
    font-family: 'Century', serif;
}
.center-btn {
    display: flex;
    justify-content: center;
    text-align: center;
}

.table{
    margin: 10px 20px 0 25px;
    display: inline-flex;
}
.radio{
    margin-top: 10px;
    margin-left: 20px;
}

.center-form {
    margin-top: 30px;
    position: relative;
}

.validate{
    color: #df260f;
}

.error-message{
    color: red;
}
.message{
    margin-left: 30px;
    position: relative;
    top: 10px;
    display: block;
}
.image{
    margin-left: 14px;
    margin-top: 14px;
}